div.main {
  background: #fcfcfc;
  border: 1px solid #d8d8d8;
  margin: 20px;
  padding: 10px 20px;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  position: relative;
}

span.description {
  display: block;
  font-style: normal;
  font-weight: 400;
}

#pl8app_rpr_addresses-ul a.deletion {
  color: #f00;
  padding: 2px 4px;
  margin-left: 5px;
}

#pl8app_rpr_addresses-ul a.deletion:hover {
  background: red;
  color: #fff;
  text-decoration: none;
}

#pl8app_rpr_cryptocurrencies-ul li {
  line-height: unset;
  margin: 0px;
}
